In [ ]:
-- 1. Azoknak a tanulóknak a neve, akik sikeres gyakorlati vizsgát tettek:
SELECT t.nev AS Tanuló
FROM TANULÓ t
JOIN VIZSGA v ON t.tanulo_id = v.tanulo_id
WHERE v.tipus = 'Gyakorlat' AND v.sikeres = TRUE;

In [ ]:
-- 2. Azok az oktatók neve és az általuk tartott órák száma a megadott időszakban (pl. 2025 április):
SELECT o.nev AS Oktató, COUNT(ora.ora_id) AS Órák_száma
FROM OKTATÓ o
LEFT JOIN ÓRA ora ON o.oktato_id = ora.oktato_id
WHERE ora.datum BETWEEN '2025-04-01' AND '2025-04-30'
GROUP BY o.nev;

In [ ]:
-- 3. Azoknak a tanulóknak a neve és e-mail címe, akik még nem tettek elméleti vizsgát:
SELECT t.nev AS Tanuló, t.email AS Email
FROM TANULÓ t
LEFT JOIN VIZSGA v ON t.tanulo_id = v.tanulo_id AND v.tipus = 'Elmélet'
WHERE v.vizsga_id IS NULL;

In [ ]:
-- 4. Melyik oktató tartotta a legtöbb órát 2025 áprilisában, és hány órát tartott?
SELECT o.nev AS Oktató, COUNT(ora.ora_id) AS Tartott_órák_száma
FROM OKTATÓ o JOIN ÓRA ora ON o.oktato_id = ora.oktato_id
WHERE ora.datum BETWEEN '2025-04-01' AND '2025-04-30'
GROUP BY o.nev
ORDER BY Tartott_órák_száma DESC LIMIT 1;

In [ ]:
-- 5. Melyik tanuló vett részt a legtöbb vezetési órán összesen? Jelenítse meg a nevét és az órák számát.
SELECT t.nev AS Tanuló, COUNT(ora.ora_id) AS Összes_óra_száma
FROM TANULÓ t
JOIN ÓRA ora ON t.tanulo_id = ora.tanulo_id
GROUP BY t.nev
ORDER BY Összes_óra_száma DESC LIMIT 1;

In [ ]:
-- 6. Melyik tanulók iratkoztak be a "B kategória" tanfolyamra 2025 áprilisában? Jelenítse meg a nevüket és a beiratkozás dátumát.
SELECT t.nev AS Tanuló, tt.beiratkozas_datum AS Beiratkozás_dátuma
FROM TANULÓ t
JOIN TANULÓ_TANFOLYAM tt ON t.tanulo_id = tt.tanulo_id
JOIN TANFOLYAM tf ON tt.tanfolyam_id = tf.tanfolyam_id
WHERE tf.nev = 'B kategória' AND tt.beiratkozas_datum BETWEEN '2025-04-01' AND '2025-04-30';